.recipe-box {
  background-color: white;
  width: 60vw;
  max-width: 1200px;
  min-width: 280px;
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  box-shadow: 2px 3px 3px #888;
  text-align: center;
}

.recipe-box li {
  list-style-type: none;
  color: #777;
}

.recipe-box li::after {
  content: ",";
}

.recipe-box li:last-child::after {
  content: ".";
}

.recipe-box .method {
  text-align: left;
  line-height: 1.5em;
  color: #333;
}

.recipe-box .cookingTime {
  margin-bottom: -10px;
  font-size: 20px;
}

.recipe-box .ingredients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}

@media screen and (max-width: 600px) {
  .recipe-box {
    padding: 20px;
  }
}

@media screen and (min-width: 600px) {
  .recipe-box {
    padding: 50px;
  }
}
