.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  transition: all 0.3s ease-in-out;
  min-width: 350px;
  max-width: 1400px;
  margin: auto;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 400;
}

@media screen and (max-width: 800px) {
  .navbar {
    flex-direction: column;
    gap: 20px;
    padding: 12px;
  }
  .left-section {
    margin-left: 0px;
  }
  .right-section {
    margin-right: 0px;
  }
}

@media screen and (min-width: 800px) {
  .navbar {
    flex-direction: row;
    padding: 10px;
  }
  .left-section {
    margin-left: 50px;
  }
  .right-section {
    margin-right: 50px;
  }
}

.left-section {
  display: flex;
  gap: 20px;
  align-items: center;
}

.left-section img {
  height: 50px;
  width: 50px;
  -webkit-filter: invert(1);
  filter: invert(1);
}

.right-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.right-section a {
  text-decoration: none;
  border: 2px solid white;
  border-radius: 4px;
  padding: 4px 10px;
  font-weight: 500;
  color: white;
  transition: all 0.3s ease-in-out;
}

.right-section a:hover,
.right-section a.active {
  background-color: white;
}
