.recipe-card {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.36);
  background-color: white;
  margin: 30px;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  transition: all 0.3s ease;
}
.recipe-card:hover {
  transform: rotate(3deg);
}

.recipe-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  width: 90vw;
  margin: 2vh auto;
}

.cookingTime {
  margin-top: -10px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}

.recipe-card a {
  align-self: center;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
