:root {
  --light-blue: rgba(51, 51, 51, 0.2);
  --light-red: rgba(234, 25, 25, 0.2);
  --light-green: rgba(0, 128, 0, 0.2);
  --light-blue-hover: rgba(51, 51, 51, 0.3);
  --light-red-hover: rgba(234, 25, 25, 0.3);
  --light-green-hover: rgba(0, 128, 0, 0.3);
  --font-light-blue: rgba(51, 51, 51, 0.65);
  --font-light-red: rgba(234, 25, 25, 0.65);
  --font-light-green: rgba(0, 128, 0, 0.65);
  --font-light-blue-hover: rgba(51, 51, 51, 0.8);
  --font-light-red-hover: rgba(234, 25, 25, 0.8);
  --font-light-green-hover: rgba(0, 128, 0, 0.8);
  --blue: #54289c;
  --red: rgb(204, 10, 10, 0.9);
  --green: rgba(0, 128, 0, 0.9);
  --success: rgba(0, 128, 0, 0.8);
  --success-hover: rgba(0, 128, 0, 0.95);
  --warning: rgba(255, 0, 0, 0.8);
  --warning-hover: rgba(255, 0, 0, 0.95);
  --reset: rgb(6, 143, 197, 0.85);
  --reset-hover: rgb(6, 143, 197, 0.95);
}

/*----------Theme Button Styles----------*/

.theme-btn {
  border: none;
  border-radius: 50%;
  padding: 10px;
}

.theme-container {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 20px;
  width: 90vw;
}

/*-----------------------------------------*/

/*--------Navbar Background Styles---------*/

.bg-default {
  background-color: var(--blue);
}
.bg-red {
  background-color: var(--red);
}
.bg-green {
  background-color: var(--green);
}

/*----------------------------------------*/

/*---------NavBar Button Styles------------*/

.default.active,
.default:hover {
  color: var(--blue);
}

.red.active,
.red:hover {
  color: var(--red);
}

.green.active,
.green:hover {
  color: var(--green);
}

/*----------------------------------------*/

/*--------Body Background Styles, Button Background Styles---------*/

.bg-light-default,
.bg-btn-light-default {
  background-color: var(--light-blue);
}

.bg-light-red,
.bg-btn-light-red {
  background-color: var(--light-red);
}

.bg-light-green,
.bg-btn-light-green {
  background-color: var(--light-green);
}

/*----------------------------------------*/

/*--------Button Background Styles on Hovering---------*/

.bg-btn-light-default:hover {
  background-color: var(--light-blue-hover);
}

.bg-btn-light-red:hover {
  background-color: var(--light-red-hover);
}

.bg-btn-light-green:hover {
  background-color: var(--light-green-hover);
}

/*----------------------------------------*/

/*--------Button Font Styles---------*/

.font-btn-light-default {
  color: var(--font-light-blue);
}

.font-btn-light-red {
  color: var(--font-light-red);
}

.font-btn-light-green {
  color: var(--font-light-green);
}

.font-btn-light-default:hover {
  color: var(--font-light-blue-hover);
}

.font-btn-light-red:hover {
  color: var(--font-light-red-hover);
}

.font-btn-light-green:hover {
  color: var(--font-light-green-hover);
}

/*----------------------------------------*/
